:root {
    --arrow-url: url("data:image/svg+xml,%3Csvg fill='gray' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");

    --color-background: #fdf6e3;
    --color-foreground: #000000;

    --color-container: white;
    --color-container-border: rgba(0, 0, 0, 0.25);

    --button-background: #e0cfa0;
    --button-background-hover: #d5bb8d;
    --button-border: #a08855;
    --button-foreground: #3e2f1c;

    --font-main: 'Georgia', serif;
    --font-footer: 'Verdana';

    --footer-background: rgba(224, 224, 224, 0.5);
    --footer-border: #d0d0d0;

    --input-border: #a08855;
    --input-border-focus: #fff9e8;

    --shadow-container: rgba(0, 0, 0, 0.15);
    --shadow-input-focus: rgba(153, 121, 80, 0.4);
}

body {
    background-color: var(--color-background);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-foreground);
    display: flex;
    flex-direction: column;
    font-family: var(--font-main);
    margin: 0;
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.container-inner {
    align-items: center;
    background-color: var(--color-container);
    border: 1px solid var(--color-container-border);
    border-radius: 12px;
    box-shadow: 0 4px 12px var(--shadow-container);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* -----------------------------------------------------------------------------
 * --- SPECIAL HEADER ---
 * -------------------------------------------------------------------------- */

.special-header {
    background-color: var(--footer-background);
    border-bottom: 1px solid var(--footer-border);
    display: flex;
    font-family: var(--font-footer);
    justify-content: flex-end;
    margin: 0;
    padding: 8px 16px;
}

.special-header select {
    appearance: none;           /* Removes default browser style */
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: var(--arrow-url);
    background-repeat: no-repeat;
    background-position: right 0.25rem center;
    background-size: 1rem;
    border: 1px solid var(--input-border);
    border-radius: 8px;
    font-size: 14px;
    font-weight: 550;
    padding: 0.5rem 1rem;
}

select:focus {
    box-shadow: 0 0 0 2px var(--shadow-input-focus);
    border-color: var(--input-border-focus);
    outline: none;
}

/* -----------------------------------------------------------------------------
 * --- HEADER ---
 * -------------------------------------------------------------------------- */

.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 48px 48px 0 48px;
    padding: 0;
    text-align: center;
    width: 100%;
}

.header h1, h2 {
    margin: 0;
    padding: 0;
}

/* -----------------------------------------------------------------------------
 * --- CONTENT ---
 * -------------------------------------------------------------------------- */

.game_info {
    align-self: stretch;
    background: var(--footer-background);
    border-top: 1px solid var(--footer-border);
    border-bottom: 1px solid var(--footer-border);
    padding: 8px;
}

.game_info table {
    border-collapse: collapse;
    background: none;
}

.game_info td {
    background: none;
    border: none;
    font-size: 16px;
    margin: 0;
    padding: 0.25rem 0.4rem;
    text-align: left;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 48px 48px 48px;
}

.content-buttons {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.content-buttons button {
    background-color: var(--button-background);
    border: 1px solid var(--button-border);
    border-radius: 4px;
    color: var(--button-foreground);
    cursor: pointer;
    font-weight: bold;
    margin: 0;
    min-width: 128px;
    padding: 10px 16px;
    width: 100%;
}

.content-buttons button:hover {
    background-color: var(--button-background-hover);

}

 /* -----------------------------------------------------------------------------
 * --- FOOTER ---
 * -------------------------------------------------------------------------- */

.footer {
    background-color: var(--footer-background);
    border-top: 1px solid var(--footer-border);
    font-family: var(--font-footer);
    font-size: 0.6rem;
    line-height: 1.5;
    margin: 0;
    padding: 8px 16px;
}

/* -----------------------------------------------------------------------------
 * --- MOBILE PHONE VIEW ---
 * -------------------------------------------------------------------------- */

@media (max-width: 768px) {

    .container {
        align-items: stretch;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
    }

    .container-inner {
        align-items: center;
        background-color: var(--color-container);
        border-top: 1px solid var(--color-container-border);
        border-bottom: 1px solid var(--color-container-border);
        border-left: none;
        border-right: none;
        border-radius: 0;
        box-shadow: none;
        padding: 32px;
    }

    .header h1 {
        font-size: 24px;
    }

    .header h2 {
        font-size: 18px;
    }

}