<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ labels_data.title }} - {{ labels_data.subtitle }}: {{ game_data.name }}</title>
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    </head>

    <body>
        <div class="container-wrapper">
            <div class="special-header">
                <form method="POST" action="/game/set_language">
                    <select name="language" id="language" onchange="this.form.submit()">
                        {% for language in languages %}
                            <option value="{{ language }}" {% if selected_language == language %}selected{% endif %}>
                                {{ language }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </div>

            <div class="container">
                <div class="container-inner">
                    <div class="header">
                        <h1>{{ labels_data.title }}</h1>
                        <h2>{{ labels_data.subtitle }}</h2>
                    </div>

                    <div class="game_info">
                        <table>
                            <tr>
                                <td>🎲</td>
                                <td>{{ labels_data.game_name }}</td>
                                <td><b>{{ game_data.name }}</b></td>
                            </tr>
                            <tr>
                                <td>👤</td>
                                <td>{{ labels_data.nickname }}</td>
                                <td><b>{{ player_data.nickname }}</b></td>
                            </tr>
                        </table>
                    </div>

                    <div class="content">
                        <div class="content-routes">
                            {% for route in player_routes %}
                            <div class="route-item">
                                <div class="route-header">
                                    <h3>{% if route.is_primary %}🚂{% else %}🚃{% endif %} {{ route.city_a }} ➡️ {{ route.city_b }}</h3>
                                    <div class="route-buttons">
                                        <form method="post" action="/game/show_route_on_map">
                                            <input type="hidden" name="city_a" value="{{ route.city_a }}">
                                            <input type="hidden" name="city_b" value="{{ route.city_b }}">
                                            <button type="submit">🗺️</button>
                                        </form>
                                        {% if route.is_new %}
                                        <form method="post" action="/game/remove_route">
                                            <input type="hidden" name="city_a" value="{{ route.city_a }}">
                                            <input type="hidden" name="city_b" value="{{ route.city_b }}">
                                            <button type="submit" class="remove-btn">✖</button>
                                        </form>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="route-content">
                                    <table>
                                        <tr>
                                            <td>🛤️</td>
                                            <td>Route:</td>
                                            <td>{{ route.city_a }} → {{ route.city_b }}</td>
                                        </tr>
                                        <tr>
                                            <td>🔢</td>
                                            <td>Points:</td>
                                            <td>{{ route.points }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="content-buttons">
                            {% if game_data.count_new_routes(player_data.nickname) > 0 %}
                            <form method="post" action="/game/accept_routes">
                                <button type="submit" class="accept-btn">{{ labels_data.accept_routes }}</button>
                            </form>
                            {% endif %}

                            <form method="post" action="/game/create_routes">
                                <input type="hidden" name="long" value="false">
                                <button type="submit">{{ labels_data.create_routes }}</button>
                            </form>

                            {% set has_primary = game_data.has_primary_route(player_data.nickname) %}
                            <form method="post" action="/game/create_primary_route">
                                <input type="hidden" name="long" value="true">
                                <button type="submit" {% if has_primary %}disabled{% endif %}>{{ labels_data.create_primary_routes }}</button>
                            </form>

                            {% if player_data.nickname == game_data.host %}
                            <form method="get" action="/game/end_game">
                                <button type="submit" class="end-btn">{{ labels_data.end_game }}</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer">
                <p>{{ footer_data.title }}<br/>{{ footer_data.version }}<br/>{{ footer_data.copyright }}<br/>
                {{ footer_data.licence }}</p>
                <p>{{ footer_data.legal_notice }}</p>
            </div>

            <script>
                const GAME_EXISTS_ENDPOINT = "{{ url_for('.game_exists') }}";
            </script>
            <script src="{{ url_for('static', filename='js/background_generator.js') }}"></script>
            <script src="{{ url_for('static', filename='js/game_exists.js') }}" defer></script>
        </div>
    </body>
</html>